*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: brown;
    --bg-color: rgba(165, 42, 42, 0.337);
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
/* HEADER SECTION  */
.first{
    background-image: url("images/IMG_6566.JPG");
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 10%;
    z-index: 999;
    box-shadow: 0 1px 10px #220404;
}
.navbar{
    background-color: #79533b;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.navbar .active{
    color: #79533b;
    background-color: #fff8e1;
    border-radius: .9rem 0 0 0;
    padding: 1rem;
}
.navbar a{
    padding: .7rem 1.9rem;
    color: #fff8e1;
    font-size: 20px;
    text-decoration: none;
    justify-content: block;
}
.navbar a:hover, .navbar .active:hover{
    background-color: #fff8e1;
    color: #79533b;
    width: 100%;
    border-radius: .9rem .9rem;
}
.fa-burger{
    font-size: 40px;
    color: #220404;
    display: none;
}
.fa-times {
    font-size: 40px;
    color: #220404;
    z-index: 999;
}
.btn-9{
    padding: .6rem 1.4rem;
    border-radius: 4rem;
    color: #220404;
    background: transparent;
    border-color: #220404;
    margin-right: .6rem;
}
.btn-9:hover{
    box-shadow: 0 0 10px #220404;
    transform: scale(1.2);
    transition: .7s ease-in-out;
    background-color: green;
}

/* HOME SECTION */
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.home-content{
    margin: 1rem;
    padding: 2rem 0;
}
.home-content h1{
    color: #220404;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.home-content p{
    color: #79533b;
    padding-top: .7rem;
    padding-bottom: .8rem;
}
.btn-1{
    padding: .7rem;
    border-radius: 4rem;
    color: #220404;
    background: transparent;
    border: 2px solid #220404;
    width: 30%;
}
.btn-2{
    padding: .7rem;
    border-radius: 4rem;
    color: #fff8e1;
    background:#220404;
    border: none;
    width: 30%;
}
.home-img{
    margin-top: 2rem;
}


/* ABOUT SECTION */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8e1;
    gap: .1rem;
    padding: 3rem 1rem;
    width: 100%;
}
.about-content h1,h3,p {
    color: #220404;
    font-size: 20px;

}
.about-img img{
    width: 70%;
}
/* MENU SECTION */
.menu{
    background-color: #79533b;
    padding: 3rem;
}
.menu h1{
    color: #fff8e1;
    text-align: center;
    padding: 1rem;
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: .6rem;
}
.menu-box{
    background-color: #fff8e1;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    gap: 1rem;
    width: 100%;
}
.menu-box img{
    text-align: center;
    align-items: center;
}

.ending{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/* BLOG SECTION */
.blog{
    background-color: #fff8e1;
    padding: 3rem 1rem;
}
.blog h1, h2{
    text-align: center;
    
}
.blog-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    flex-wrap: nowrap;
}
.blog-box{
    background-color: #fff8e1;
    box-shadow: 0 0 10px grey;
    padding: 2rem;
    width: 100%;
    border-radius: 1rem;
    height: 100%;
    color: #79533b;
    margin: .5rem;
}
.blog-box h3{
    color: orange;
}
.blog-box p{
    color: #79533b;

}
.read{
    color: #79533b;
    font-size: 20px;
    padding-top: .7rem;
}
/* CONTACT */
.contact{
   padding: 3rem 2rem; 
   background-color: #79533b;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
     
}
.left-contact{
    padding: 2rem 2rem;
    color: #220404;
}
.right-contact{
    padding: 2rem 1rem;
}

.right-contact input{
    border: none;
    padding: 1rem;
    background-color: white;
    color: grey;
    border-radius: 2rem;
    margin-bottom: .7rem;
    width: 100%;
}
textarea{
    border-radius: 1rem;
    border: none;
    padding: 2rem;
    background-color: white;
    color: grey;
    resize: none;
    margin-bottom: .7rem;
    width: 100%;
}

.social-icons i{
    font-size: 30px;
    border: 2px solid white;
    border-radius: 4rem;
}
.btn-3{
    border: none;
    padding: .7rem 0;
    background-color: orange;
    color: black;
    border-radius: 2rem;
    width: 100%;
} 
.right-contact {
    font-size: 15px;
    padding: 1rem
}
input,textarea{
    padding: 1rem;
    font-weight: bold;
    color: orange;
}
/* FOOTER */
.footer{
    padding: 1rem;
    background-color: antiquewhite;
}

.navbar.open{
    width: 100%;
}
/* TABLET DESIGN */
@media (max-width: 900px) {
    .navbar{
        position: absolute;
        top: 75px;
        right: 0; 
        width: 0;
        transition: width 0.3s ease-in-out;
        overflow: hidden;
        flex-direction: column;
    }
    .navbar .active{
        background-color: #79533b;
        color: #fff8e1;
    }
    .navbar a{
        text-align: center;
        margin: 1rem;
        padding: 1rem;
    }
    .fa-burger{
        display: block;
        margin-right: 1rem;
    }
    .fa-times{
        margin-right: 1rem;
    }
     
    .home, .about, .menu-content{
        flex-wrap: wrap;
    }
    .btn-1{
        padding: .5rem;
      
        margin-top: 1rem;
    }
    .btn-2{
        padding: .5rem;
        
       
    }
     .btn-9{
        display: none;
    }
    .about-img img{
        width: 90%;
    }

    .blog-container{
        flex-wrap: wrap;
    }
    .contact-container{
        flex-wrap: wrap;
    }
    .dropdown-menu{
        overflow: hidden;
        display: block;
    }
}